* {
    box-sizing: border-box;
}

.App {
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 2.3fr;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
}

.noteful-header {
    grid-area: header;
    text-align: center;
}

.noteful-header a {
    text-decoration: none;
}
